<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
   <%- include('navbar.ejs') %>
    

    <div class="text-center container"

  
      <br>
      <h1>Dashboard</h1>
      <h2>User Data:</h2>
      <br>
        <table class="table table-hover table-bordered table-striped " alt="A Table asking Questions to Colby McManis and His answers.">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Company Name</th>
            <th>ID</th>
            <th>City</th>
          </tr>
          <tr>
          <%for (let i=0; i < userData.length; i++) { %>
          <tr>
            <td><%=userData[i].name%></td>
            <td><%=userData[i].email%></td>
            <td><%=userData[i].phone%></td>
            <td><%=userData[i].company.name%></td>
            <td><%=userData[i].id%></td>
            <td><%=userData[i].address.city%></td>
            <% } %>
          </tr>
        </table>
      </div>
  </body>
</html>